word barf. python script, take the sample location file, pull out sample lat longs & name/id. For use in arc

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations

In [3]:
ls

Climate_data/                         USGS_pulled_data/
Coords/                               box_map/
ERAC-2021-22-NoEstimatedV17-xlsx.csv  box_map_ERAC_2021-22_V12.xlsx
ERAC_2021-22_NoEstimatedV16 (1).xlsx  desert_dace_sample_log_V3.xlsx
FieldNotes/                           genetic_stuff/
GoogleEarth_saves/                    images/
README.gif                            metadata_creations.txt

In [4]:
local1_df = pd.read_csv('ERAC-2021-22-NoEstimatedV17-xlsx.csv')

In [5]:
local1_df.head()

,sample_number,sample_ID,site_number,sub_site,latitude,longitude,UTM_E_standard,UTM_N_standard,Zone,box_n,box_row,box_col,box_local,Column 14,Column 15,Column 16,Column 17
0,1.0,ERAC001,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,A,1.0,A1,NaN,NaN,NaN,NaN
1,2.0,ERAC002,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,B,1.0,B1,NaN,NaN,NaN,NaN
2,3.0,ERAC003,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,C,1.0,C1,NaN,NaN,NaN,NaN
3,4.0,ERAC004,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,D,1.0,D1,NaN,NaN,NaN,NaN
4,5.0,ERAC005,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,E,1.0,E1,NaN,NaN,NaN,NaN

In [7]:
local2_df = local1_df[['sample_ID','site_number','latitude','longitude']].copy()

In [8]:
pd.DataFrame.to_csv(local2_df, 'DDlocations_ARC.csv', sep=',', na_rep='.', index=False)