word barf. python script, take the sample location file, pull out sample lat longs & name/id. For use in arc

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations

In [4]:
ls

Climate_data/                         USGS_pulled_data/
Coords/                               box_map/
DDlocations_ARC.csv                   box_map_2021-22_v18.csv
DDlocations_estimated.csv             box_map_ERAC_2021-22_V12.xlsx
ERAC-2021-22-NoEstimatedV17-xlsx.csv  desert_dace_sample_log_V3.xlsx
ERAC_2021-22_NoEstimatedV16 (1).xlsx  genetic_stuff/
FieldNotes/                           images/
GoogleEarth_saves/                    metadata_creations.txt
README.gif

In [5]:
local1_df = pd.read_csv('ERAC-2021-22-NoEstimatedV17-xlsx.csv')

In [6]:
local1_df

,sample_number,sample_ID,site_number,sub_site,latitude,longitude,UTM_E_standard,UTM_N_standard,Zone,box_n,box_row,box_col,box_local,Column 14,Column 15,Column 16,Column 17
0,1.0,ERAC001,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,A,1.0,A1,NaN,NaN,NaN,NaN
1,2.0,ERAC002,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,B,1.0,B1,NaN,NaN,NaN,NaN
2,3.0,ERAC003,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,C,1.0,C1,NaN,NaN,NaN,NaN
3,4.0,ERAC004,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,D,1.0,D1,NaN,NaN,NaN,NaN
4,5.0,ERAC005,3.0,2.0,41.338161,-119.16865,318543.0,4578566.0,11.0,1.0,E,1.0,E1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,330.0,ERAC329,8.0,1.0,NaN,NaN,NaN,NaN,11.0,3.0,H,12.0,H12,NaN,NaN,NaN,NaN
330,331.0,ERAC331,8.0,1.0,NaN,NaN,NaN,NaN,11.0,4.0,B,8.0,B8,NaN,NaN,NaN,NaN
331,332.0,ERAC332,8.0,1.0,NaN,NaN,NaN,NaN,11.0,4.0,C,8.0,C8,NaN,NaN,NaN,NaN
332,333.0,ERAC333,8.0,1.0,NaN,NaN,NaN,NaN,11.0,3.0,A,11.0,A11,NaN,NaN,NaN,NaN
333,334.0,ERAC334,8.0,1.0,NaN,NaN,NaN,NaN,11.0,3.0,B,11.0,B11,NaN,NaN,NaN,NaN

In [7]:
local2_df = local1_df[['sample_ID','site_number','latitude','longitude']].copy()

In [8]:
pd.DataFrame.to_csv(local2_df, 'DDlocations_ARC.csv', sep=',', na_rep='.', index=False)

### NOW: do the same for the other set of locations: estimated (keep them separate)

In [22]:
estimate_df = pd.read_csv('box_map_2021-22_v15.csv', usecols=['sample_ID','site_number','estimated_lat','estimated_long'],skip_blank_lines=True)

#### print(series)
#### remove_nan = series. dropna()
#### print(remove_nan)

In [23]:
print(estimate_df)

    sample_ID site_number  estimated_lat  estimated_long
0     ERAC001           3            NaN             NaN
1     ERAC002           3            NaN             NaN
2     ERAC003           3            NaN             NaN
3     ERAC004           3            NaN             NaN
4     ERAC005           3            NaN             NaN
..        ...         ...            ...             ...
329   ERAC329           8      41.331944     -119.197908
330   ERAC331           8      41.331944     -119.197908
331   ERAC332           8      41.331944     -119.197908
332   ERAC333           8      41.331944     -119.197908
333   ERAC334           8      41.331944     -119.197908

[334 rows x 4 columns]

In [24]:
remove_nan_estimate = estimate_df.dropna()

In [25]:
print(remove_nan_estimate)

    sample_ID site_number  estimated_lat  estimated_long
177   ERAC178           1      41.397972     -119.165569
178   ERAC179           1      41.397972     -119.165569
179   ERAC180           1      41.397972     -119.165569
180   ERAC181           1      41.397972     -119.165569
181   ERAC182           1      41.397972     -119.165569
..        ...         ...            ...             ...
329   ERAC329           8      41.331944     -119.197908
330   ERAC331           8      41.331944     -119.197908
331   ERAC332           8      41.331944     -119.197908
332   ERAC333           8      41.331944     -119.197908
333   ERAC334           8      41.331944     -119.197908

[140 rows x 4 columns]

### convert to new csv file, then remove copy file

In [26]:
pd.DataFrame.to_csv(remove_nan_estimate, 'DDlocations_estimated.csv', sep=',', na_rep='.', index=False)