code to merge files with lat_long data, downloaded from google earth

In [104]:
import os
import pandas as pd
import numpy as np

In [18]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Sample_locations_csv

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Sample_locations_csv

In [122]:
area1_df = pd.read_csv('Area1_samples.csv')#
area2_df = pd.read_csv('Area2_samples.csv')
area3_df = pd.read_csv('Area3_samples.csv')
area4_df = pd.read_csv('Area4_samples.csv')
area5_df = pd.read_csv('Area5_samples.csv')
area6_df = pd.read_csv('Area6_samples.csv')#
area7_df = pd.read_csv('Area7_samples.csv')#
area8_df = pd.read_csv('Area8_samples.csv')#
area9_df = pd.read_csv('Area9_samples.csv')
flycanyon_df = pd.read_csv('FlyCanyon_samples.csv')

In [123]:
area5_df.head()
#for files in os.listdir(PATH):

            X          Y         Name description  icon
0 -119.190384  41.337695  ERAC148-157     Area #5   185
1 -119.191003  41.335125  ERAC158-162     Area #5   185
2 -119.190922  41.334145  ERAC163-168     Area #5   185
3 -119.190853  41.338154  ERAC169-177     Area #5   185

In [124]:
area1_df = area1_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])
area6_df = area6_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])
area7_df = area7_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])
area8_df = area8_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])

In [129]:
all_locations = pd.DataFrame().append([area1_df, area2_df, area3_df, area4_df, area5_df, area6_df, area7_df, area8_df, area9_df, flycanyon_df])
display(all_locations)

             X          Y         Name description icon
0  -119.184413  41.376051      ERAC087     AREA #2  185
1  -119.184479  41.376248      ERAC088     AREA #2  185
2  -119.184413  41.376051      ERAC089     AREA #2  185
3  -119.184479  41.376248      ERAC091     AREA #2  185
4  -119.184479  41.376248      ERAC092     AREA #2  185
..         ...        ...          ...         ...  ...
5  -119.222864  41.334154      ERAC126      FLYCYN  185
6  -119.222684  41.334121  ERAC127-128      FLYCYN  185
7  -119.221391  41.285500      ERAC133      FLYCYN  185
8  -119.222684  41.334121  ERAC134-142      FLYCYN  185
9  -119.222973  41.334178  ERAC143-147      FLYCYN  185

[61 rows x 5 columns]

In [137]:
pd.DataFrame.to_csv(all_locations, 'all_locations.csv', sep=',', na_rep='.', index=False)

In [139]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations