code to merge files with lat_long data, downloaded from google earth

In [38]:
import os
import pandas as pd
import numpy as np
import shutil

In [15]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/Sample_locations_csv/

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/Sample_locations_csv

In [17]:
area1_df = pd.read_csv('Area1_samples.csv')#
area2_df = pd.read_csv('Area2_samples.csv')
area3_df = pd.read_csv('Area3_samples.csv')
area4_df = pd.read_csv('Area4_samples.csv')
area5_df = pd.read_csv('Area5_samples.csv')
area6_df = pd.read_csv('Area6_samples.csv')#
area7_df = pd.read_csv('Area7_samples.csv')#
area8_df = pd.read_csv('Area8_samples.csv')#
area9_df = pd.read_csv('Area9_samples.csv')
flycanyon_df = pd.read_csv('FlyCanyon_samples.csv')

In [18]:
area5_df.head()
#for files in os.listdir(PATH):

            X          Y         Name description  icon
0 -119.190384  41.337695  ERAC148-157     Area #5   185
1 -119.191003  41.335125  ERAC158-162     Area #5   185
2 -119.190922  41.334145  ERAC163-168     Area #5   185
3 -119.190853  41.338154  ERAC169-177     Area #5   185

In [20]:
area1_df = area1_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])
area6_df = area6_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])
area7_df = area7_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])
area8_df = area8_df.drop(columns=['gid','timestamp','begin','end','altitudeMode','tessellate','extrude','visibility','drawOrder'])

KeyError: "['gid' 'timestamp' 'begin' 'end' 'altitudeMode' 'tessellate' 'extrude'\n 'visibility' 'drawOrder'] not found in axis"

In [22]:
all_locations = pd.DataFrame().append([area1_df, area2_df, area3_df, area4_df, area5_df, area6_df, area7_df, area8_df, area9_df, flycanyon_df])
display(all_locations)

             X          Y         Name description icon
0  -119.184413  41.376051      ERAC087     AREA #2  185
1  -119.184479  41.376248      ERAC088     AREA #2  185
2  -119.184413  41.376051      ERAC089     AREA #2  185
3  -119.184479  41.376248      ERAC091     AREA #2  185
4  -119.184479  41.376248      ERAC092     AREA #2  185
..         ...        ...          ...         ...  ...
5  -119.222864  41.334154      ERAC126      FLYCYN  185
6  -119.222684  41.334121  ERAC127-128      FLYCYN  185
7  -119.221391  41.285500      ERAC133      FLYCYN  185
8  -119.222684  41.334121  ERAC134-142      FLYCYN  185
9  -119.222973  41.334178  ERAC143-147      FLYCYN  185

[61 rows x 5 columns]

In [23]:
pd.DataFrame.to_csv(all_locations, 'all_locations.csv', sep=',', na_rep='.', index=False)

In [26]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/site_coords/

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/site_coords

In [27]:
ls ## double check that I am where I want to be. 
##  These csv files contain the corner coordinates of each area, plotted in Google Earth and converted to CSV. 
##  Contain weird extra columns and data

Area1.csv         Area4.csv         Area8.csv         Grid_corners.kml
Area10.csv        Area5.csv         Area9.csv
Area2.csv         Area6.csv         FlyCanyon.csv
Area3.csv         Area7.csv         Grid_corners.csv

In [29]:
area1 = pd.read_csv('Area1.csv')#
area2 = pd.read_csv('Area2.csv')
area3 = pd.read_csv('Area3.csv')
area4 = pd.read_csv('Area4.csv')
area5 = pd.read_csv('Area5.csv')
area6 = pd.read_csv('Area6.csv')#
area7 = pd.read_csv('Area7.csv')#
area8 = pd.read_csv('Area8.csv')#
area9 = pd.read_csv('Area9.csv')
flycanyon = pd.read_csv('FlyCanyon.csv')
## read all the separate area csv files into dataframes

In [35]:
all_area = pd.DataFrame().append([area1, area2, area3, area4, area5, area6, area7, area8, area9, flycanyon])
    ## add each of these dataframes to a new one
all_sample = all_area.where(pd.notnull(all_area), None)
    ## remove nulls and make into new dataframe (won't work properly without making it into a new dataframe)
all_sample_areas = all_sample.drop(columns=['gid','tessellate'])
    ## last dataframe to make. Remove extra data columns
all_sample_areas 
    ## check if worked

,X,Y,Name,description
0,-119.162977,41.399541,Area1_UR,None
1,-119.162642,41.395523,Area1_LR,None
2,-119.170158,41.399015,Area1_UL,None
3,-119.170350,41.395202,Area1_LL,None
0,-119.195536,41.396767,Area2_UL,None
1,-119.195511,41.371020,Area2_LL,None
2,-119.178291,41.371295,Area2_LR,None
3,-119.177635,41.397588,Area2_UR,None
0,-119.170122,41.339527,Area3_UL,None
1,-119.164622,41.339761,Area3_UR,None
2,-119.169972,41.329971,Area3_LL,None
3,-119.164078,41.329974,Area3_LR,None
0,-119.192185,41.360931,Area4_UR,None
1,-119.191247,41.341013,Area4_LR,None
2,-119.226668,41.360473,Area4_UL,None
3,-119.225760,41.340683,Area4_LL,None
0,-119.184553,41.340042,Area5_UR,None
1,-119.184649,41.330158,Area5_LR,None
2,-119.192486,41.340081,Area5_UL,None
3,-119.192178,41.330204,Area5_LL,None
0,-119.212012,41.365801,Area6_UR,None
1,-119.220456,41.365689,Area6_UL,None
2,-119.220608,41.361778,Area6_LL,None
3,-119.211555,41.361703,Area6_LR,None
0,-119.189177,41.351229,Area7_LL,None
1,-119.185537,41.351268,Area7_LR,None
2,-119.189441,41.357878,Area7_UL,None
3,-119.185600,41.357917,Area7_UR,None
0,-119.201169,41.333774,Area8_UL,None
1,-119.201273,41.331075,Area8_LL,None
2,-119.194603,41.334019,Area8_UR,None
3,-119.194280,41.331355,Area8_LR,None
0,-119.209190,41.322982,Area9_UL,None
1,-119.202004,41.323041,Area9_UR,None
2,-119.209234,41.319310,Area9_LL,None
3,-119.201892,41.319546,Area9_LR,None
0,-119.206091,41.333277,FlyCanyon_Area8,FlyCanyon sample site option 2\nMeasured from ...
1,-119.211118,41.334221,FlyCanyon_Streamflow_Samplesite,Measured from start of stream\nFlyCanyon sampl...

In [36]:
pd.DataFrame.to_csv(all_sample_areas, 'all_sample_areas.csv', sep=',', na_rep='.', index=False)
    ## convert to new csv

In [40]:
ls

Area1.csv             Area5.csv             FlyCanyon.csv
Area10.csv            Area6.csv             Grid_corners.csv
Area2.csv             Area7.csv             Grid_corners.kml
Area3.csv             Area8.csv             all_sample_areas.csv
Area4.csv             Area9.csv

In [42]:
sourcepath = r"/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/site_coords/all_sample_areas.csv"
destpath = r"/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/summary_files/all_sample_areas.csv"
shutil.move(sourcepath, destpath)
## move all_sample_areas.csv to proper folder

'/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/summary_files/all_sample_areas.csv'

In [45]:
cd ../summary_files/

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/summary_files

In [48]:
ls

all_sample_areas.csv      all_sample_locations.csv  four_corners.csv