In [30]:
import os
import glob
import pandas as pd

In [147]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations

In [66]:
act_split = pd.read_csv("box_map_2021-22_v18.csv", usecols=['sample_ID','site_number','sub_site','estimated_lat','estimated_long','latitude','longitude'])

In [113]:
act_split.head()

,sample_ID,site_number,sub_site,estimated_lat,estimated_long,latitude,longitude
0,ERAC178,1,1,41.397972,-119.165569,NaN,NaN
1,ERAC179,1,1,41.397972,-119.165569,NaN,NaN
2,ERAC180,1,1,41.397972,-119.165569,NaN,NaN
3,ERAC181,1,1,41.397972,-119.165569,NaN,NaN
4,ERAC182,1,1,41.397972,-119.165569,NaN,NaN

In [68]:
act_split['site_number'].unique()

array([ 1,  2,  3,  4,  5,  7,  8,  9, 11])

In [69]:
act_split.dtypes

sample_ID          object
site_number         int64
sub_site            int64
estimated_lat     float64
estimated_long    float64
latitude          float64
longitude         float64
dtype: object

In [80]:
site_1 = act_split[act_split['site_number']==1]
site_2 = act_split[act_split['site_number']==2]
site_3 = act_split[act_split['site_number']==3]
site_4 = act_split[act_split['site_number']==4]
site_5 = act_split[act_split['site_number']==5]
site_7 = act_split[act_split['site_number']==7]
site_8 = act_split[act_split['site_number']==8]
site_9 = act_split[act_split['site_number']==9]
site_11 = act_split[act_split['site_number']==11]

In [195]:
site_2.head()

,sample_ID,site_number,sub_site,estimated_lat,estimated_long,latitude,longitude
39,ERAC087,2,1,NaN,NaN,41.376051,-119.184413
40,ERAC088,2,2,NaN,NaN,41.376248,-119.184479
41,ERAC089,2,1,NaN,NaN,41.376051,-119.184413
42,ERAC090,2,1,NaN,NaN,41.376051,-119.184413
43,ERAC091,2,2,NaN,NaN,41.376248,-119.184479

In [100]:
est_site_11 = site_11[site_11['estimated_lat'].notnull()].drop(["latitude","longitude"], axis=1)
est_site_8 = site_8[site_8['estimated_lat'].notnull()].drop(["latitude","longitude"], axis=1)
est_site_4 = site_4[site_4['estimated_lat'].notnull()].drop(["latitude","longitude"], axis=1)
est_site_2 = site_2[site_2['estimated_lat'].notnull()].drop(["latitude","longitude"], axis=1)
est_site_1 = site_1[site_1['estimated_lat'].notnull()].drop(["latitude","longitude"], axis=1)

In [137]:
act_site_2 = site_2[site_2['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')
act_site_3 = site_3[site_3['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')
act_site_4 = site_4[site_4['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')
act_site_5 = site_5[site_5['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')
act_site_7 = site_7[site_7['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')
act_site_9 = site_9[site_9['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')
act_site_11 = site_11[site_11['latitude'].notnull()].drop(["estimated_lat","estimated_long"], axis=1).sort_values('sub_site')

### convert to csv files

pd.DataFrame.to_csv(act_site_2, 'act_site2.csv', sep=',', na_rep='.', index=False)

In [194]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/Sample_locations_csv

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/Coords/Sample_locations_csv

In [191]:
act_all = {                                   # Create list of all actual_value DataFrames
    'site7': act_site_11,
    'site6': act_site_9,
    'site5': act_site_7,
    'site4': act_site_5,
    'site3': act_site_4,
    'site2': act_site_3,
    'site1': act_site_2
 }
est_all = {
    'site5': est_site_11,
    'site4': est_site_8,
    'site3': est_site_4,
    'site2': est_site_2,
    'site1': est_site_1
}

In [183]:
for i in range(1, len(act_all) + 1):          # Write each DataFrame to separate CSV. Rename later in file folder
    data_i = act_all['site' + str(i)]
    data_i.to_csv('act_site' + str(i) + '.csv')

In [192]:
for i in range(1, len(est_all) + 1):          # Write each DataFrame to separate CSV. Rename later in file folder
    data_i = est_all['site' + str(i)]
    data_i.to_csv('est_site' + str(i) + '.csv')

combine all files in the list
* combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

export to csv

* combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')