word barf

basically: run through this mess of an excel sheet: has *sitenumber, sitename, sitetype, lat/long, elevation(datum), dates, datatype, status,...*

### steps
1) run through excel sheet
2) make new file/dataform
    a) add empty columns for site number, lat, long, site_name?
3) pull these columns into new file

** access box through terminal: cd /Users/mine/Library/CloudStorage/Box-Box/

In [81]:
# import packages
import os
import numpy as np
import pandas as pd

In [82]:
PATH = 'Users/mine/Library/CloudStorage/Box-Box/'

In [83]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_papers

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_papers

In [84]:
ls ## using USGS_stream_gauges.csv

USGS_stream_gauges.csv         Working_ProposalAbstract.docx
USGS_stream_gauges.xlsx

bloom_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')
bloom_df.head()

df1 = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv', usecols=['logbodysize','trophic_position','Reg','taxa'])

df2 = pd.DataFrame(bloom_df.taxa.str.split('_',1).tolist(),columns = ['genus','species']) # new dataframe for making the split

split_bloom_df = pd.concat([df1, df2], axis=1, join='inner') # combining the two dataframes

In [85]:
gauge_df = pd.read_csv('USGS_stream_gauges.csv')

In [86]:
#column_names = ["Site_Number","Latitude","Longitude"]
#location_df = pd.DataFrame(columns = column_names)

gaugesample_1 = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv', usecols=['logbodysize','trophic_position','Reg','taxa'])

df2 = pd.DataFrame(gauge_df.taxa.str.split('_',1).tolist(),columns = ['genus','species']) # new dataframe for making the split

split_bloom_df = pd.concat([df1, df2], axis=1, join='inner') # combining the two dataframes

In [89]:
gauge_df2 = gauge_df[['Site_Name','Site_Number','Latitute','Longitute']].copy()
gauge_df2.head()

,Site_Name,Site_Number,Latitute,Longitute
0,026 N39 E24 01BB 1 Sp 3 Orfc A Mud Mdw Qd NW1,411919119122301,"41°19'19""","119°12'23"""
1,026 N39 E24 01BB 2 Sp 3 Orfc B Mud Mdw Qd NW1,411919119122302,"41°19'19""","119°12'23"""
2,026 N39 E24 01BB 3 Sp 3 Orfc E Mud Mdw Qd NW1,411919119122303,"41°19'19""","119°12'23"""
3,026 N39 E24 01BB 4 Sp 3 Orfc G Mud Mdw Qd NW1,411919119122304,"41°19'19""","119°12'23"""
4,026 N39 E24 01BB 5 Sp 3 Orfc H Mud Mdw Qd NW1,411919119122305,"41°19'19""","119°12'23"""

In [92]:
pd.DataFrame.to_csv(gauge_df2, 'gaugeLocations.csv', sep=',', na_rep='.', index=False)

In [93]:
ls

USGS_stream_gauges.csv         Working_ProposalAbstract.docx
USGS_stream_gauges.xlsx        gaugeLocations.csv